.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom,$color-primary,$color-primary-light), url(../assets/photo-gallery/river.jpg);
    background-size: cover;
    background-position: top;
    width: 100%;
    position: relative;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100% );

    @include  respond(phone) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    }

    &__text--box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}


